opchains-xsd-1.0.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">

<xs:element name="OpchainList">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="OPCHAIN" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="SuccessionList">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="Succession" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="Succession">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="Predecessor" type="xs:integer" maxOccurs="1"/>
            <xs:element name="Successor" type="xs:integer" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="Model">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="OpchainList"/>
            <xs:element ref="SuccessionList"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="OPCHAIN">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="Id" type="xs:integer"/>
            <xs:element name="GeneralizationId" type="xs:integer" minOccurs="0"/>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Description" type="xs:string" maxOccurs="1"/>
            <xs:element name="URL" type="xs:string" maxOccurs="1"/>
            <xs:element ref="Model" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

</xs:schema>
